.nav {
    height: 70px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}
.nav-right-items {
    margin-left: 550px;
    display: flex;
    font-size: 1.8rem;
    font-weight: bold;
}
.nav-item {
    margin-left: 10px;
}

.title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}
.subtitle {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
}
.main {
    width: 1000px;
    margin: 0 auto;
    margin-top: 60px;
}
.price-item {
    width: 300px;
    height: 350px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 4px;
    text-align: center;
}
.prices {
    display: flex;
}

.price-item-title {
    font-size: 1.5rem;
    background: rgba(0,0,0, .03);
    height: 53px;
    line-height: 53px;
    border-bottom: 1px solid black;

}
.price-item-price {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 20px;
}
.price-item-button {
    padding: .5rem 1rem; 
    font-size: 1.25rem; 
    line-height: 1.5; 
    border-radius: .3rem;
    margin-top: 30px;
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}
.price-item-button-active {
    background-color: #007bff;
    color: white;
}
.price-item-month {
    font-size: 20px;
    color: gray;
}
